<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>게시글 작성 페이지</h1>
    <form action="/write" method="post">
        <p>제목 : <input type="text" name="title"></p>
        <p>작성자 : <input type="text" name="writer"></p>
        <!-- input태그는 value에 값이 저장되지만 textarea는 아니다. -->
        <p>내용 : <textarea name="content" rows="5" cols="60"></textarea></p>
        <input type="submit" value="등록">
    </form>
</body>
</html>