<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- 
        EJS 문법 2가지
        1) <% %> : JS의 문법 작성이 가능한 공간 -> 조건문, 반복문
        2) <%= %> : 넘겨 준 값을 사용하는 공간
    -->
    <strong><%= name%>씨 안녕하냐 </strong>
    <h1>서버가 만든 메인페이지여</h1>

    <!-- 
        조건문을 통해서 로그인했다면 로그아웃버튼 출력 -> 로그인정보가 없다면 로그인 버튼 출력
    -->
        <%if(login){ %> 
            <a href="#">로그아웃</a>
            <a href="/userlist">사용자 목록 조회</a>    
        <%}else{ %>
            <a href="#">로그인</a>
        <%}%>
</body>
</html>